<div>
    <input type="number" placeholder="Id" [(ngModel)]="SrNo">&nbsp;
    <input type="text" placeholder="Name" [(ngModel)]="empName"> &nbsp;
    <input type="number" placeholder="Grade Rating" [(ngModel)]="empGrade">
    <button (click)="AddEmp()">Add</button>&nbsp; <button (click)="RemoveEmp()">Remove</button> <br>
</div>
  <div>
    <h2>Employee Performance</h2>
    <table border="2">
        <th>Sr.No.</th>
        <th>Employee Name</th>
        <th>Grades</th>
        <tr *ngFor="let item of EmpArr">
<td>{{item.empID}}</td>
<td>{{item.uname}}</td>
<td>{{item.grade | grades}}</td>
        </tr>
    </table>
</div>
