<div> <img [src] ="ImagePath" 
    style="width: 300px;height: 200px;"></div>
<table border=1>
    <caption>Employee Details</caption>
    <tr>
    <td>Employee ID</td>
    <td>{{ID}}</td>
    </tr>
    <tr>
        <td>Employee Name</td>
        <td>{{name}}</td>
        </tr>
        <tr>
            <td>Employee Job</td>
            <td>{{job}}</td>
            </tr>
            <tr>
                <td>Employee Salary</td>
                <td>{{salary}}</td>
                </tr>
                <tr>
                    <td>Employee Depo</td>
                    <td>{{Depo}}</td>
                    </tr>
</table>