<style>form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */

  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
}
.error {   color : Red;  }
    button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
  </style>

<form  [formGroup]="LoginForm" (submit)="onSubmit()">
    
    <fieldset>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text"  formControlName="uname"  placeholder="Enter Username" >
      <span *ngIf="LoginForm.controls['uname'].invalid && LoginForm.controls['uname'].dirty" class="error">User Name is required</span>

      <label for="psw"><b>Password</b></label>
      <input type="password" formControlName="psw" placeholder="Enter Password">
      <span *ngIf="LoginForm.controls['psw'].invalid && LoginForm.controls['psw'].dirty" class="error">Password is required</span>

      <button [disabled]="LoginForm.invalid" type="submit">Login</button>
      
    </div>
    </fieldset>
  
</form>
