<style>
    .anchorcls{
        padding:5px;
        background-color:lightyellow;
    }
</style>
<div>
    <a href="javascript:void(0);" (click)="sortdata('EmpNo')" class="anchorcls">EmpNo</a>
    <a href="javascript:void(0);" (click)="sortdata('EmpName')" class="anchorcls">Emp Name</a>
    <a href="javascript:void(0);" (click)="sortdata('Job')" class="anchorcls">Job</a>
    <a href="javascript:void(0);" (click)="sortdata('Sal')" class="anchorcls">Salary</a>
    <a href="javascript:void(0);" (click)="sortdata('Dept')" class="anchorcls">Dept No</a>
</div>
